
/* Elimino las clases de imagenes de bootstrap para usar las de fontawesome */
[class^="icon-"] {
  background-image:none;
  font-size: 1.2em;
}

table thead th{
    color: white;
    background-color: #441b21;
}

.tooltip-link-white{
    text-decoration: none;
    color: white;
}

.tooltip-link-white:hover{
    text-decoration: none;
    color: white;
    cursor: default;
}