{% extends "DafuerGetOptGeneratorBundle::layout.html.twig" %}


{% block bundle_content %}

<center>


<BR/>
<h3>GetOpt sorce generator and manager</h3>
<BR/>

<a href="{{ path('DafuerGetOptGeneratorBundle_start') }}" class="btn btn-primary btn-large"><i class="icon-caret-left"></i> START <i class="icon-caret-right"></i></a><BR/><BR/>
<a href="{{ path('DafuerGetOptGeneratorBundle_moreinformation') }}" class="btn btn-info"><i class="icon-info-sign"></i> More information</a> &nbsp;&nbsp;
<a href="" class="btn btn-info"><i class="icon-github"></i> Fork me on GitHub</a>




</center>

{% endblock %}
