{% extends "DafuerGetOptGeneratorBundle::layout.html.twig" %}


{% block bundle_content %}

<center>


<BR/>
<h2>GetOpt sorce generator and option manager</h2>
<BR/>

<div style="max-width: 550px; text-align: justify">
    <p>GetOpt Generator helps you to include getopt library in your projects. GetOpt library 
is used to parse options in command lines and it is implemented in a lot of languages. GetOpt
is compatible with POSIX standard. Using this tool, you can specify your shell interface
easily and you can get a code scheme of your project. A fun way to start a tool!
</p>
</div>
<BR/>
<BR/>
<a href="{{ path('DafuerGetOptGeneratorBundle_start') }}" class="btn btn-primary btn-large"><i class="icon-caret-left"></i> START <i class="icon-caret-right"></i></a><BR/><BR/>
<a href="{{ path('DafuerGetOptGeneratorBundle_moreinformation') }}" class="btn btn-info"><i class="icon-info-sign"></i> More information</a> &nbsp;&nbsp;
<a href="https://github.com/dafuer/getoptgenerator" class="btn btn-info"><i class="icon-github"></i> Fork me on GitHub</a>




</center>
<span data-test-status="ok" data-test-route="{{ app.request.attributes.get('_route') }}"></span>
{% endblock %}
