{% extends "DafuerGetOptGeneratorBundle::layout.html.twig" %}


{% block bundle_content %}



<BR/>

<center>
<div style="max-width: 550px; text-align: justify">
<h2>1) Why GetOpt Library?</h2>
<br/>
GetOpt library helps you to parse option in command lines. This work can be tedious
but with this library it is easy. You can specify your options and the parameters
they could have, and then you will obtain this information inside your tool. GetOpt is 
implemented in most popular languajes.
<BR/><BR/>
<h2>2) Why GetOpt Generator?</h2>
<BR />
GetOpt Generator helps you to specify your project options. Then, with this information,
this web application generates a code scheme to parse your options using getopt library. 
Also you can have implemented the help function. This information will be displayed using
-h or --help option. This help contains information about how to run your project.
</div>

</center>
<span data-test-status="ok" data-test-route="{{ app.request.attributes.get('_route') }}"></span>
{% endblock %}
