{% extends "DafuerGetOptGeneratorBundle::layout.html.twig" %}


{% block bundle_content %}


<BR/><BR/><BR/>
<center>
    <div style="max-width: 550px; text-align: justify">
    Currently, you are not logged in. If you have an account, start it! (Log menu in top bar). 
    If you don't have an account, don't worry. You can register now, <b>it's free</b>. 
    If you are registered, you can store your projects and modificate it in the future.
    In any case, you can try GetOptGenerator without filling the annoying register form.
    I kwnow it's bored (but it's very quick!). Now, you choose:
    </div>
</center>
<BR/><BR/>

<center>
    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success btn-large">
        <i class="icon-group"></i> &nbsp;
        Register now!
    </a>    
    <a href="{{ path('DafuerGetOptGeneratorBundle_project_new') }}" class="btn btn-success btn-large">
        <i class="icon-magic"></i> &nbsp;
        Try creating new project
    </a>
</center>

<BR/><BR/>
<span data-test-status="ok" data-test-route="{{ app.request.attributes.get('_route') }}"></span>
{% endblock %}
