{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head_style %}
  {# parent()  //No es necesario llamar al parent #}

{% stylesheets
       '@DafuerGetOptGeneratorBundle/Resources/public/less/dafuermopabootstrap.less'
%}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dafuergetoptgenerator/css/reset-bootstrap-icons.css') }}" />
 <link rel="stylesheet" type="text/css" href="{{ asset('bundles/manymulesfontawesome/css/font-awesome.css') }}" />
{% endblock %}

{% block container_class %}container{% endblock container_class %}

{% block title %}GetOpt Generator{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}
    <div class="hero-unit">
        {% block bundle_content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}{% endblock footer %}
