{% extends "DafuerGetOptGeneratorBundle::layout.html.twig" %}


{% block bundle_content %}
<h1>Your Project List</h1>

<BR/><BR/>
<a href="{{ path('DafuerGetOptGeneratorBundle_project_new') }}" class="btn btn-primary">
    Create a new project
</a>
<BR/><BR/>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('DafuerGetOptGeneratorBundle_project_show', { 'id': entity.id }) }}"><b>{{ entity.name }}</b></a></td>
            <td>{{ entity.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>




{% endblock %}