/**
 * To support subnavbars we add a section padding top, so if you use inpage anchors wrap them in sections to have correct scrolling padding-top
 *
@section-padding-top: 60px;
 */

@bodyBackground: #862725;
@heroUnitBackground: #dcce97;

/*
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
     url('../font/fontawesome-webfont.woff') format('woff'),
     url('../font/fontawesome-webfont.ttf') format('truetype'),
     url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

*/